body {
    background-color: #171616;
    color: white;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.comic-button {
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #00FFFF;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .comic-button:hover {
        background-color: white;
        color: #000000;
        border: 1px solid;
        box-shadow: 5px 5px 0px #258cfb;
    }

    .comic-button:active {
        background-color: #00ffa7;
        box-shadow: none;
        transform: translateY(4px);
    }

.due-late {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    position: center;
    background-color: red;
    color: white;
    border: 1px solid;
    border-radius: 15px;
}

.refresh-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #272727;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .refresh-button:hover {
        background-color: #fff;
        color: #535353;
        border: 2px solid #535353;
        box-shadow: 5px 5px 0px #535353;
    }

    .refresh-button:active {
        background-color: #fcf414;
        box-shadow: none;
        transform: translateY(4px);
    }

/* From Uiverse.io by ke1221 */
.Cool-button {
    color: #258cfb;
    padding: 0.5em 0.9em;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.5em;
    background: #2b2a2a;
    cursor: pointer;
    transition: all 0.3s;
}

    .Cool-button:active {
        color: #666;
    }

.comic-button-green {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #171616;
    background-color: #01ff54;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .comic-button-green:hover {
        border: 1px solid;
        box-shadow: 5px 5px 0px white;
    }

    .comic-button-green:active {
        background-color: #00ffa7;
        box-shadow: none;
        transform: translateY(4px);
    }
